 .root{
    margin: 0;
    padding: 0;
 }

 .contenido{
    background-color: azure;
    height: 100vh;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-areas: "header "
                          "navbar "
                          "Main "
                          "Menu2 "
                          "footer ";
   
    grid-template-rows: 12% 7% auto 30% 10%;   
    grid-template-columns: 100%;
    
 }

 /* header h1{
  grid-area: header ;
  margin-top: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif:
 } */

 .item_1 {
  grid-area: header;
  margin-top: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #ba0fa6, #ff006d, #ff6528, #efaf00, #a8eb12);
 
 h3{
     margin-top: 15px;
     padding: 0 19% ;
     font-family: "Doto", serif; 
     margin-bottom: 30px;
     font-size: 40px; color: white;
     margin-left: 100px;
     float: left;
    }

 h2{ 
     font-size: 30px;
     padding: 0 2%;
     font-family: "Doto", serif; color: white;   
     float: left;
     font-weight:900
  
    }

        }

.item_2 {
   
   grid-area: navbar;
   background-image: linear-gradient(to bottom, #c94ca4, #fa5183, #ff715a, #ff9f2f, #ebcd12);
   

ul li {
    list-style: none;
    padding:0 85px ;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;  
     }

 ul li a{
    color: black;
    text-decoration:none;
    }

        
    .carrito{
        position: absolute;   
        margin-left: 60px;
        /* background-color: black; */
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        top: 90px;
        left: 1090px;
        margin-bottom: 0;                                         
       }

     .carr  {
        position: absolute;
        background-color: black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        top: 80px;
        left: 1170px;
        margin-bottom: 0;
       } 
 }

 

  .item_2 {
 
   ul li :hover{
     font-style: initial;
     color:white
     }

}


/* Flecha izquierda */
section {
.arrow.left {
   left: 30px;
}
/* Flecha derecha */
.arrow.right {
   right: 30px;
} /* termina agregado flechas */
}

.arrow.left{
  /*  left: -25px; */
  margin-left: -15px;
   position: absolute;
   margin-block-start: 5px;
   background-color: rgba(255, 255, 255, 0.808);
   z-index: 10; 

}

.arrow.right{
   position: absolute;
  right: 10px; /* Coloca la flecha a 10px desde el borde derecho */
  top: 50%; /* Coloca la flecha en el centro vertical de la pantalla */
  transform: translateY(-50%); /* Ajusta la posición vertical para que esté centrada exactamente */
  background-color: rgba(255, 255, 255, 0.808); 
  padding: 10px; /* Espaciado dentro del icono */
 
  z-index: 10; /* Para asegurarse de que el icono esté por encima de otros elementos */
}
.arrow {
   background-color: transparent;
   border: none;
   font-size: 30px;
   color: #333;
   cursor: pointer;
   padding: 10px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 10;
  
  
}

.arrow:hover {
   color: #007BFF;
}/* termina agregado flechas */


.menu {
   margin-left: 20px;
    grid-area: main;
    width: 96%;
    height: 309px;
    /* border: 0.2px solid green; */
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
   white-space: nowrap; /* Evita que las tarjetas se apilen en columnas */  
    
 div[class^="compra"] {
      margin-top: 15px;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 10px;
         /* width: 150px;
         height: 250px; */
      border: 5px solid black    
   }

 .compra{
    width: 100%; 
    height: 250px;
    min-width: 150px; /*probando */
    background-size: cover;
    background-position: center;
    position: relative; /*probando */
    border-radius: 10px;
    overflow: hidden; /*probando */
 }

  
 .alin-producto{
    font-family:Impact, 
    display: flex;
   justify-content:flex-end;
    /* text-align: center ;  */
    font-style: 30px ; 
    margin-block-start: -200px;
    margin-left: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.932);
   
       
 }

 .alin-precio {
   
   font-size: 30px;
   text-align: center;
   margin-block-start: -255px;
   position: relative;
   background-color: rgba(255, 255, 255, 0.788);
}

.agregar-carrito {
   position: absolute;
 margin-top: 170px;
}


 .boton {
    margin-left: 30px;
    margin-bottom: 90px;
    font-size: 15PX;
    font-family:Verdana, Geneva, Tahoma, sans-serif
     /* text-decoration: none; */
    /* color: white;
    border: 5px solid black  */
 } 

 
 div[class^="bootcomp"] {
    margin-left: 25px;
    margin-right: 53px;
    /* margin-bottom: 20px; */
    width: 100px;
    height: 35px;
    background-color: black;
    border: .5px solid black      

 }


 h3{
    font-size: 14px ;
    text-align: center ; 
    margin-top: 10PX;
    font-family: 'Courier New', Courier, monospace ; 
    color: white;
    
 }
  
}

.mensaje-flotante { /*prueba del mensaje flotante */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   color: black;
   padding: 12px 30px;
   border-radius: 10px;
   font-size: 14px;
   text-align: center;
   z-index: 9999; /* Asegura que esté encima de otros elementos */
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
   opacity: 0;
   animation: fadeInOut 3s ease-in-out;
}
@keyframes fadeInOut {
   0% { opacity: 0; transform: translate(-50%, -55%); }
   10% { opacity: 1; transform: translate(-50%, -50%); }
   90% { opacity: 1; transform: translate(-50%, -50%); }
   100% { opacity: 0; transform: translate(-50%, -45%); }
}

.cajacarrito {
   grid-area: Menu2;
   margin-left: auto;
   margin-right: auto;
   display: flex ;
   justify-content: center;
   margin-top: 1rem;
   table{
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      border-spacing: 5px;
      table-layout: fixed;
  
  border-collapse: collapse;
  border: 1px solid black;
   }
  
    th {
      padding-right: 30px;
      padding-left: 5px;
      padding-top: 0;
      padding-bottom: 0;
    }
   
    tr {
      padding: 0;
      margin: 0;

      #colcdad{
         text-align: center;
      }
      #colcprec{
         text-align: center;
      }
    }
    td {
      padding-right: 30px;
      padding-left: 5px;
      padding-top: 0;
      padding-bottom: 0;

    }
        
}

@media screen and (max-width: 1150px) {
   .item_1{
     display: flex;
     justify-content: space-between;
     width: 100%;
   }
  
   .item_1 h2, .item_1 h3 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 7px; /* Espaciado entre elementos */
     white-space: nowrap; /* Evita que salten de línea */
     overflow: hidden; /* Evita desbordes */
     text-overflow: ellipsis; /* Agrega "..." si el texto es muy largo */
   }
 
 
   .item_2 ul {
     display: flex;
     justify-content: space-between;
     padding: 0 30px;
     max-width: 70%;
    }
 
   .item_2 ul li {
     overflow: hidden;
     padding: 0 2px;
     max-width: 70%;
   }
 
   .menu {
      max-width: 100%;
    }
    
    .item_2 {
      .carrito {
   margin-left: -200px;
   }.carr{
   margin-left: -250px;
   }
   }
 }
  

 @media (max-width: 800px) {

.item_1{
   min-height: 35px;
}

.item_2 {
   .carrito {
margin-left: -800px;
}.carr{
margin-left: -850px;
}
}

.carrito {
   width: 2px;
   height: 3px;
   margin-top: 10px;
 }

 .carr {
   width: 3px;
   height: 3px;
   margin-top: 25px;
 }


 }

 @media (max-width: 820px) and (orientation: landscape) {
   .item_1 {
      display: flex;
      justify-content: space-between;
      min-height: 70px; /* Ajusta la altura para evitar que se achiquen */
      padding: 0 15px; /* Agrega un poco de espacio en los bordes */
      width: 100%;
    }

    .item_2 {
      
      min-height: 30px; /* Mantiene la altura mínima */
      justify-items: normal;
      align-items: center;
      width: 103.8%;
      
      .carrito {
         margin-left: -410px;
         }.carr{
         margin-left: -460px;
         }
    }

    .item_1 h2, .item_1 h3 {
      font-size: 20px;
    }


    .item_2 ul li {
      padding: 0;
      text-align: center;
      font-size: 9px;
    }

    .carrito {
      width: 1px;
      height: 1px;
      margin-top: -5px;
    }

    .carr {
      width: 5px;
      height: 5px;
      margin-top: -4px;
    }

    section {
      margin-top: 40px; 
      
    }   
    .menu {
      margin-top: 20px; /* Ajusta la posición del menú */
      height: auto; /* Permite que el contenido se adapte mejor */
      
    }
 }

 
 @media (max-width: 500px) {
   .item_1{
     display: flex;
     justify-content: space-between;
     width: 100%;
    }
  
   .item_1 h2 {
     font-size: 12px; /* Tamaño ajustado para móviles */
     word-break: break-word; /* Evita cortes abruptos */
     overflow: visible; /* Evita que se oculte texto */
     text-align: center; /* Asegura que el texto se centre */
     max-width: 90%; /* Evita que ocupe todo el ancho */
   }
 
   .item_1 h3 {
     font-size: 12px; /* Tamaño reducido */
     text-align: center; /* Centra el texto */
     width: 100%; /* Asegura que se extienda completamente */
     margin-left: 10%;
   }
 
   .item_2 ul {
    /*  display: flex;
     flex-direction: column; /* Menú en columna */
     padding: 0 ;
   }
 
   .item_2 ul li {
     padding: 0;
     text-align: center;
     font-size: 9px;
   }
 
   .item_2 ul li a{
      padding: 0;
      text-align: center;
      font-size: 9px;
    }
   
    
 }
 
